/*
* Grid and border
*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(3rem, 1fr));
    grid-auto-rows: 1fr;
    padding: 0% !important;
  }
    
  .grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
    
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  .grid > *:last-child {
    border-right: none;
  }
  
  .grid > * {
    border: 1px black solid;
    border-bottom: none;
    border-left: none;
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*
  * Grid styling
  */
  
  .block > * {
    vertical-align: middle;
    max-width: 50%;
  }
  
  .heading {
    background: rgba(0, 0, 0, 0.2) !important;
    text-align: center;
    border-top: none !important;
  }
  
  .time {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  
  .time > p {
    text-align: center;
  }
  
  /*
  * Grid coloring
  */
  
  .red {background-color: #6d1515}
  .yellow {background-color: orange}
  .green {background-color: seagreen}