<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editLineAmount()"><ion-icon name="create"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Startseite <br>
      <small>{{ dateObject | date:'w' }}. KW ({{ this.dataService.updateTime }})</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="grid">
    <div class="heading">
      <p>Stunde</p>
    </div>
    <div class="heading">
      <p>Mo.</p>
    </div>
    <div class="heading">
      <p>Di.</p>
    </div>
    <div class="heading">
      <p>Mi.</p>
    </div>
    <div class="heading">
      <p>Do.</p>
    </div>
    <div class="heading">
      <p>Fr.</p>
    </div>
  </div>
  <div class="grid" *ngFor="let hour of numbers">
    <div class="time">
     <p>{{hour}}</p>
    </div>
    <div id='{{ "1-"+hour }}' class="block" (click)='editEntry($event)'></div>
    <div id='{{ "2-"+hour }}' class="block" (click)="editEntry($event)"></div>
    <div id='{{ "3-"+hour }}' class="block" (click)="editEntry($event)"></div>
    <div id='{{ "4-"+hour }}' class="block" (click)="editEntry($event)"></div>
    <div id='{{ "5-"+hour }}' class="block" (click)="editEntry($event)"></div>
  </div>
</ion-content>

<ion-footer style="text-align: center">
  <ion-toolbar *ngIf="this.dataService.duplicateWarning">
    Es wurden fehlerhafte Einträge gefunden. <br>Bitte prüfe den Aushang!
  </ion-toolbar>
</ion-footer>
