<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Startseite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>Entwickler</ion-label><span item-end class="no-sub-margin"><p>Luca Feger</p> <p>luca.feger@outlook.de</p></span>
    </ion-item>
    <ion-item>
      <ion-label>Schnittstellen</ion-label><span item-end class="no-sub-margin"><p>Eric Horn</p> <p>hn@mkg-wegberg.de</p></span>
    </ion-item>
    <ion-item>
      <ion-label>Version</ion-label><span item-end><p>1.0.0</p></span>
    </ion-item>
  </ion-list>
</ion-content>
