ion-col {
    ion-label {
        margin-right: 10px;
    }
}

.grid-second > * {
    float: right;
    margin-left: 10px;
    margin-right: 0 !important;
}

ion-row {
    margin-top: 10px;
}

ion-button {
    --background: var(--mkg-red);
    margin-top: 10px;
}
